[project]
	description = My Gentoo ebuild repository
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Takahiro Hashimoto (kenya888)
[access "refs/for/refs/*"]
	read = group user/Takahiro Hashimoto (kenya888)
	push = group user/Takahiro Hashimoto (kenya888)
	label-Code-Review = -2..+2 group user/Takahiro Hashimoto (kenya888)
	label-Verified = -1..+1 group user/Takahiro Hashimoto (kenya888)
	rebase = group user/Takahiro Hashimoto (kenya888)
	removeReviewer = group user/Takahiro Hashimoto (kenya888)
	submit = group user/Takahiro Hashimoto (kenya888)
[access "refs/heads/*"]
	read = group user/Takahiro Hashimoto (kenya888)
	create = group user/Takahiro Hashimoto (kenya888)
	push = +force group user/Takahiro Hashimoto (kenya888)
	pushMerge = group user/Takahiro Hashimoto (kenya888)
[access "refs/tags/*"]
	push = +force group user/Takahiro Hashimoto (kenya888)
	pushTag = group user/Takahiro Hashimoto (kenya888)
	pushSignedTag = group user/Takahiro Hashimoto (kenya888)
